/* DIFFICULTES RENCONTREES :
*   J'ai eu beaucoup de mal à gérer la taille de la page dûe à une résolution d'écran plus petit que la maquette. (Une fois temporairement sur un écran 1920x1080px, ça a bien mieux été.)
*   Les 2 boutons de la barre Nav ont été un calvaire à faire, et je suis sûr de ne pas m'y prendre correctement.
*/

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

main {
    max-width: 1440px;
}

 /* HEADER */

header {
    margin-left: 54px;
    margin-right: 54px;
    width: 92.7%;
}

#div-upper {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 297px;
    height: 68px;
}

#img-logo {
    width: 96px;
    height: 45px;
    margin-left: 15px;
    margin-top: 44px;
}

ul {
    display: flex;
    flex-direction: row;
}

nav ul {
    margin-top: 0;
    width: 100%;
    height: 100%;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#li-hebergements {
    border-top: 2px solid #0065FC;
    margin-left: -40px;
    width: 162px;
}

a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#a-hebergements {
    color: #0065FC;
    font-weight: 600;
}

#li-activites {
    width: 135px;
}

h1 {
    margin-top: 37px;
    font-size: 22px;
    font-weight: 800;
}

#sous-titre {
    position: relative;
    top: -8px;
    font-size: 16px;
    font-weight: 500;
}