* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1440px;
    padding-left: 55px;
    padding-right: 50px;
    margin: autoZ;
}

 /* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

.img-logo {
    margin-top: 44px;
    margin-left: 14.4px;
    width: 95.5px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0;
}

.li-hebergements {
    border-top: 2px solid #0065FC;
}

.a-hebergements {
    display: block;
    padding: 47px 23px 0px 28px;
    color: #0065FC;
    font-weight: 500;
    text-decoration: none;
}

.li-activites {
    border-top: 2px solid transparent;
}

.a-activites {
    display: block;
    padding: 47px 23px 0px 42px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-top: 2px solid transparent;
}

.li-activites:hover {
    border-top: 2px solid #0065FC;
}

.a-activites:hover {
    color: #0065FC;
}

/** UPPER SECTION : (SUB)TITLE + SEARCH BAR + FILTERS **/
 /* TITLE + SUBTITLE */

h1 {
    margin-top: 38px;
    font-size: 22px;
    font-weight: 700;
}

.subtitle {
    position: relative;
    top: -6px;
    font-size: 16px;
    font-weight: 500;
}

 /* SEARCH BAR */

.wrap-search-bar {
    display: flex;
    margin-left: -1px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: -4.4px;
    height: 51px;
    width: 22.12%;
    min-width: 235px;
    border: 1px solid #F2F2F2;
    border-radius: 16px 0px 0px 16px;
    font-size: 18px;
    overflow: hidden;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 51px;
    min-height: 51px;
    background: #F2F2F2;
}

input {
    padding-left: 15.4px;
    width: 100%;
    font-size: 18.4px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    border: none;
    outline: none;
}

.div-search-button {
    position: relative;
    top: -3.5px;
    left: -10px;
    height: 51px;
    width: 134px;
    border-radius: 0px 16px 16px 0px;
    background: #0065FC;
    overflow: hidden;
}

.search-button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background: #0065FC;
    cursor: pointer;
}

.search-button-phone {
    display: none;
    cursor: pointer;
}

 /* FILTERS */

.wrap-filters {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 26px;
    padding-left: 7px;
}

.wrap-filters-bars {
    display: flex;
    flex-wrap: wrap;
}

.h3-filtres {
    font-size: 18px;
    font-weight: 800;
    margin-top: 15px;
    margin-right: 31px;
}

.filters-bars {
    display: flex;
    align-items: center;
    white-space: nowrap;
    max-height: 50px;
    margin-right: 24px;
    margin-bottom: 5px;
    border: 2px solid rgb(222,222,222);
    border-radius: 25px;
    transition: ease-in-out 0.24s;
}

.filters-bars:hover {
    color: white;
    background: #0065FC;
    cursor: pointer;
}

.fa-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    color: #0065FC;
    background: #DEEBFF;
    border-radius: 100%;
}

.fa-child-reaching {
    font-size: 21px;
}

.text-filters {
    font-size: 17.5px;
    font-weight: 800;
    margin-top: 4px;
    margin-left: 12px;
    padding-right: 16px;
}

 /* INFO */

.div-info {
    display: flex;
    align-items: center;
    padding-left: 4px;
    margin-top: 19px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    color: #0065FC;
    font-size: 13px;
    border: 1.5px solid rgb(222,222,222);
    border-radius: 100%;
    margin-top: -3px;
}

.text-info {
    padding-left: 11px;
    font-size: 16px;
    font-weight: 500;
}

/** MIDDLE SECTIONS : HEBERGEMENTS + POPULAIRES **/

.middle-sections {
    display: flex;
    margin-left: -5px;
    margin-top: 22px;
    gap: 3.1%;
}

h2 {
    font-size: 21.8px;
    font-weight: 800;
    margin: 43px 0px 23px 4.5%;
}

.h3-card {
    font-size: 16px;
    font-weight: 800;
    margin-top: 6px;
}

.p-card {
    font-size: 14px;
    font-weight: 500;
}

.fa-star {
    font-size: 11.7px;
    margin-top: 6px;
    margin-right: -3px;
    margin-bottom: 11px;
}

.blue-star {
    color: #0065FC;
}

.gray-star {
    color: rgb(222,222,222);
}

 /* SECTION HEBERGEMENTS ONLY */

.wrap-hebergements {
    background: #F2F2F2;
    width: 69.2%;
    border-radius: 23px;
}

.wrap-cards-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.a-card-hebergements {
    flex: 1 0 30%;
    text-decoration: none;
    color: black;
    min-width: 200px;
}

.article-cards-hebergements {
    background: white;
    border-radius: 20px;
    padding: 5px 5px 0px 5px;
    box-shadow: 0px 3px 7px 2px #BDBDBD;    
}

.object-fit-hebergements {
    width: 100%;
    height: 113px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    object-fit:cover;
}

.text-card-hebergements {
    padding-left: 4.4%;
    margin: 0;
    margin-top: 5px;
}

.padding-star {
    padding-left: 10px;
    margin-top: 10px;
}

.show-more {
    font-size: 18px;
    font-weight: 800;
    margin: 41px 0px 47px 44px;
}

 /* SECTION POPULAIRES ONLY */

.wrap-populaires {
    background: #F2F2F2;
    width: 33%;
    border-radius: 23px;
}

.populaires-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10% 0px 4.5%;
}

.title-star {
    font-size: 21px;
    margin-top: 29px;
}

.wrap-cards-populaires {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.a-card-populaires {
    flex: 1 0 100%;
    text-decoration: none;
    color: black;
}

.article-cards-populaires {
    display: flex;
    background: white;
    border-radius: 20px;
    padding: 5px 0px 5px 5px;
    box-shadow: 0px 3px 7px 2px #BDBDBD;    
}

.object-fit-populaires {
    width: 37.3%;
    height: 113px;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    object-fit:cover;
}

.text-card-populaires {
    flex-direction: column;
    padding-left: 20px
}

/*** MEDIA QUERIES TABLETS ***/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: red;
    }
    .search-bar {
        width: 34%;
    }
    .wrap-filters-bars {
        max-width: 540px;
    }
}

/*** MEDIA QUERIES PHONES ***/

@media screen and (max-width: 767px) { 
    .container {
        padding: 0;
    }
/* HEADER */
    header {
        align-items: center;
        flex-direction: column;
    }
    .img-logo {
        margin-top: 21px;
        margin-left: 7.7%;
    }
    nav {
        width: 100%;
        justify-content: flex-end;
    }
    ul {
        padding: 0;
    }
    .li-hebergements, .li-activites, .li-activites:hover {
        width: 100%;
        border-top: none;
    }
    .a-hebergements {
        padding: 0;
        padding-bottom: 13px;
        padding-left: 20%;
        margin: 0;
        margin-top: 32px;
        border-bottom: 3px solid #0065FC;
    }
    .a-activites {
        padding: 0;
        padding-bottom: 11px;
        padding-left: 31%;
        margin-top: 32px;
        border-bottom: 3px solid #F2F2F2;
    }
    .a-activites:hover {
        border-bottom: 3px solid #0065FC;
    }
/** UPPER SECTION : (SUB)TITLE + SEARCH BAR + FILTERS **/
    .upper-section {
        margin-left: 5.3%;
    }
/* TITLE + SUBTITLE */   
    h1 {
        height: 50px;
        margin-top: 16.5px;
        margin-bottom: 0px;
    }   
    .subtitle {
        margin-top: 21.5px;
    }
/* SEARCH BAR */   
    .wrap-search-bar {
        margin-top: 32px;
        margin-left: 1px;
    }
    .search-bar {
        width: 86.5%;
    }
    .fa-location-dot {
        max-width: 51px;
    }
    .div-search-button {
        width: 51px;
        margin-top: -1px;
        margin-left: -14px;
        border-radius: 16px 16px 16px 16px;
    }
    .search-button {
        display: none;
    }
    .search-button-phone {
        display: block;
    }
    input[type="submit"] {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 17px;
        color: white;
        background: #0065FC;
        height: 100%;
        padding: 0;
    }
/* FILTERS */
    .wrap-filters {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
    .h3-filtres {
        margin-top: 0;
        margin-left: -5px;
        margin-bottom: 15px;
    }
    .wrap-filters-bars {
        flex-wrap: wrap;
        margin-left: -7px;
    }
    .filters-bars {
        margin-right: 11px;
        margin-bottom: 13px;
    }
    .text-filters {
        font-size: 16px;
        font-weight: 700;
    }

/* INFO */
    .div-info {
        padding: 0;
        display: flex;
        align-items: center;
        margin-top: 6px;
    }
    .fa-info {
        height: 23px;
        width: 30px;
        margin-top: -20px;
    }
    .text-info {
        padding-left: 10px;
        font-weight: 500;
    }
}