/* PROBLEMES
MARGIN % FILTERS
ESTHITIQUE FILTERS TABLETS
FLEX WRAP HEBERGEMENTS CARDS */

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1440px;
    padding-left: 55px;
    padding-right: 55px;
    margin: autoZ;
}

 /* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

.img-logo {
    margin-top: 44px;
    margin-left: 14.4px;
    width: 95.5px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0;
}

.li-hebergements {
    border-top: 2px solid #0065FC;
}

.a-hebergements {
    display: block;
    padding: 47px 23px 0px 28px;
    color: #0065FC;
    font-weight: 500;
    text-decoration: none;
}

.li-activites {
    border-top: 2px solid transparent;
}

.a-activites {
    display: block;
    padding: 47px 23px 0px 42px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-top: 2px solid transparent;
}

.li-activites:hover {
    border-top: 2px solid #0065FC;
}

.a-activites:hover {
    color: #0065FC;
}

/** UPPER SECTION : (SUB)TITLE + SEARCH BAR + FILTERS **/
 /* TITLE + SUBTITLE */

h1 {
    margin-top: 38px;
    font-size: 22px;
    font-weight: 800;
}

.subtitle {
    position: relative;
    top: -6px;
    font-size: 16px;
    font-weight: 500;
}

 /* SEARCH BAR */

.wrap-search-bar {
    display: flex;
    margin-left: -1px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: -4.4px;
    height: 51px;
    width: 23.9%;
    border: 1px solid #F2F2F2;
    border-radius: 16px 0px 0px 16px;
    font-size: 18px;
    overflow: hidden;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 51px;
    min-height: 51px;
    background: #F2F2F2;
}

input {
    padding-left: 15.4px;
    width: 100%;
    font-size: 18.4px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    border: none;
    outline: none;
}

.div-search-button {
    position: relative;
    top: -3.5px;
    left: -10px;
    height: 51px;
    width: 134px;
    border-radius: 0px 16px 16px 0px;
    background: #0065FC;
    overflow: hidden;
}

.search-button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background: #0065FC;
    cursor: pointer;
}

.search-button-phone {
    display: none;
    cursor: pointer;
}

 /* FILTERS */

.wrap-filters {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 26px;
    padding-left: 7px;
}

.wrap-filters-bars {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.h3-filtres {
    font-size: 18px;
    font-weight: 800;
    margin-top: 15px;
    margin-right: 31px;
}

.filters-bars {
    display: flex;
    align-items: center;

    white-space: nowrap;
    max-height: 50px;
    margin-right: 24px;
    margin-bottom: 5px;
    border: 2px solid rgb(222,222,222);
    border-radius: 25px;
    transition: ease-in-out 0.24s;
}

.filters-bars:hover {
    color: white;
    background: #0065FC;
    cursor: pointer;
}

.fa-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    min-height: 50px;
    min-width: 50px;
    margin-left: -2px;
    color: #0065FC;
    background: #DEEBFF;
    border-radius: 100%;
}

.fa-child-reaching {
    font-size: 21px;
}

.text-filters {
    font-size: 17.5px;
    font-weight: 800;
}
/*
.text-filters-money {
    padding-right: 20px;
}

.text-filters-family {
    padding-right: 18px;
}

.text-filters-heart {
    padding-right: 12px;
}

.text-filters-dog {
    padding-right: 17px;
}

 /* INFO */

.div-info {
    display: flex;
    align-items: center;
    padding-left: 4px;
    margin-top: 19px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    color: #0065FC;
    font-size: 13px;
    border: 1.5px solid rgb(222,222,222);
    border-radius: 100%;
    margin-top: -3px;
}

.text-info {
    padding-left: 11px;
    font-size: 16px;
    font-weight: 500;
}

/** MIDDLE SECTIONS : HEBERGEMENTS + POPULAIRES **/

.middle-sections {
    display: flex;
    margin-left: -6px;
    margin-top: 22px;
    gap: 3.2%;
}

h2 {
    font-size: 21.6px;
    font-weight: 800;
    margin-left: 3.3%;
}

/* SECTION HEBERGEMENTS */

.wrap-hebergements {
    background: #F2F2F2;
    width: 66%;
    border-radius: 23px;
    padding-top: 26px;
}

.wrap-div-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div-hebergements {
    background: white;
    width: 243px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 40px;
}

.figure-hebergements {
    background: red;
    height: 114px;
    margin: 0;
    border-radius: 20px 20px 0px 0px;
}

h3 {
    font-size: 16px;
    font-weight: 800;
}

/* SECTION POPULAIRES */

.section-populaires {
    background: #F2F2F2;
    width: 33%;
}

.populaires-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 20px;
}

.blue-star {
    color: #0065FC;
}

.gray-star {
    color: #F2F2F2;
}

/*** MEDIA QUERIES TABLETS ***/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: red;
    }
    .search-bar {
        min-width: 40%;
    }
}

/*** MEDIA QUERIES PHONES ***/

@media screen and (max-width: 767px) { 
    .container {
        padding: 0;
    }
/* HEADER */
    header {
        align-items: center;
        flex-direction: column;
    }
    .img-logo {
        margin-top: 21px;
        margin-left: 7.7%;
    }
    nav {
        width: 100%;
        justify-content: flex-end;
    }
    ul {
        padding: 0;
    }
    .li-hebergements, .li-activites, .li-activites:hover {
        width: 100%;
        border-top: none;
    }
    .a-hebergements {
        padding: 0;
        padding-bottom: 13px;
        padding-left: 20%;
        margin: 0;
        margin-top: 32px;
        border-bottom: 3px solid #0065FC;
    }
    .a-activites {
        padding: 0;
        padding-bottom: 11px;
        padding-left: 31%;
        margin-top: 32px;
        border-bottom: 3px solid #F2F2F2;
    }
    .a-activites:hover {
        border-bottom: 3px solid #0065FC;
    }
/** UPPER SECTION : (SUB)TITLE + SEARCH BAR + FILTERS **/
    .upper-section {
        margin-left: 5.3%;
    }
/* TITLE + SUBTITLE */   
    h1 {
        height: 50px;
        margin-top: 16.5px;
        margin-bottom: 0px;
    }   
    .subtitle {
        margin-top: 21.5px;
    }
/* SEARCH BAR */   
    .wrap-search-bar {
        margin-top: 32px;
        margin-left: 1px;
    }
    .search-bar {
        width: 86.5%;
    }
    .fa-location-dot {
        max-width: 51px;
    }
    .div-search-button {
        width: 51px;
        margin-top: -1px;
        margin-left: -14px;
        border-radius: 16px 16px 16px 16px;
    }
    .search-button {
        display: none;
    }
    .search-button-phone {
        display: block;
    }
    input[type="submit"] {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 17px;
        color: white;
        background: #0065FC;
        height: 100%;
        padding: 0;
    }
/* FILTERS */
    .wrap-filters {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
    h3 {
        margin-top: 0;
        margin-left: -5px;
        margin-bottom: 15px;
    }
    .wrap-filters-bars {
        flex-wrap: wrap;
        margin-left: -7px;
    }
    .filters-bars {
        margin-right: 11px;
        margin-bottom: 13px;
    }
    .text-filters {
        font-size: 16px;
        font-weight: 700;
    }/*
    .text-filters-money {
        padding-right: 17px;
    }
    .text-filters-family {
        padding-right: 16px;
    }
    .text-filters-heart {
        padding-right: 11px;
    }
    .text-filters-dog {
        padding-right: 15px;
    }  
/* INFO */
    .div-info {
        padding: 0;
        display: flex;
        align-items: center;
        margin-top: 6px;
    }
    .fa-info {
        height: 23px;
        width: 30px;
        margin-top: -20px;
    }
    .text-info {
        padding-left: 10px;
        font-weight: 500;
    }
}